@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Staatliches&display=swap');

body,
button {
  background-color: rgb(46, 17, 17);
  margin: 0;
  padding: 0;
  font-family: 'Fugaz One', cursive;
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

#header {
  background-color: #5e1914;
  padding: 1rem;
}

.logo-container,
.buttons-container {
  margin: 0.5rem;
}

.logo {
  max-width: 12rem;
  max-height: 12rem;
}

.nav-btn {
  border: none;
  background-color: #ff908b;
  color: #ec1703;
  font-size: 18px;
  font-weight: 1000;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.nav-btn:hover {
  cursor: pointer;
}

.page-container {
  color: #ec1703;
}

.page {
  background-color: #5e1914;
  border: 3px solid #ff908b;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem;
}

.heading-icon {
  font-size: 3rem;
  margin-right: 0.5rem;
}

.content-container {
  background-color: #ff908b;
  min-width: 40%;
  border-radius: 0.5rem;
  border: 3px solid #ec1703;
  padding: 2rem;
  margin: 2rem;
}

.content-heading {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.content,
.contact,
.about-us {
  font-size: 1.3rem;
  font-family: 'Staatliches', cursive;
}

.content-img {
  max-width: 12rem;
}

.burger-container {
  justify-content: space-around;
}

.burger-info-container {
  flex-direction: column;
  justify-content: center;
}

.burger-svg-container,
.burger-info-container {
  margin: 0rem 1rem 0rem 1rem;
  padding: 1rem;
}

.burger-svg {
  max-width: 10rem;
  max-height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
}

.burger-name {
  font-size: x-large;
}

.burger-ingredients-container {
  list-style-type: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 0;
}

.burger-container {
  margin: 2rem 1rem 2rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(#2e1111, #5e1914);
  width: 30%;
}

.burgers-container {
  flex-wrap: wrap;
}

.map-img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 1rem;
}

.burger-ingredients {
  font-size: 1.3rem;
  font-family: 'Staatliches', cursive;
  margin: 0.2rem;
}

@media only screen and (max-width: 1200px) {
  .content-img {
    max-width: 9rem;
  }

  .content-container {
    min-width: 35%;
  }

  .burger-container {
    width: 45%;
  }
}

@media only screen and (max-width: 992px) {
  .content-img {
    max-width: 6rem;
  }

  .content-container {
    min-width: 30%;
  }

  .content,
  .contact {
    font-size: 1rem;
  }

  .heading-icon {
    font-size: 2rem;
  }

  .content-heading {
    font-size: 1.4rem;
  }

  .burger-container {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .content-img {
    max-width: 4rem;
  }

  .about-us {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-content {
    display: block;
    margin: 0;
  }

  .burger-container {
    width: 95%;
  }

  .burger-svg {
    min-width: 4rem;
    min-height: 4rem;
  }

  .burger-name {
    font-size: 1rem;
  }

  .content-container {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
}
